{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}

{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
<div class="col-md-7 mb-5 offset-md-2">
    <div class="card h-100">
        <div class="card-body">
            <form action="" method="post" class="mx-auto text-center">
                <h2 class="card-title">login</h2>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-3"> 
                    <button type="submit" class="btn btn-success">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
<p class="text-center">crear cuenta: <a href="{% url 'home:register' %}">Regístrate aquí</a></p>
{% endblock INDEX_CONTENIDO %}
