{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
Sobre nosotros
{% endblock %}

{% block INDEX_CONTENIDO %}
    <div class="text-center display-1 mb-5 mt-3">
        Soy Juan Manuel faura y esta es mi primera pagina web completa
    </div>
    <div class="text-center display-1 mb-5 mt-3">
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='https://www.linkedin.com/in/juan-manuel-faura-1163a0209/'">Linkedin</button>
    </div>
{% endblock INDEX_CONTENIDO %}