{% extends 'home/index.html' %}

{% block INDEX_TITULO %} 
    Actualizar Vehiculo
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
<div class="col-md-5">
<div class="card mb-5">
    <div class="card-body">
        <h2 class="card-title styled-title">Vehiculo</h2>
        <div class="form-group">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
    </form>
</div>
</div>
</div>
</div>

{% endblock INDEX_CONTENIDO %}